extends layout

block content
  h1= title
  form#formAddUser(name="addlisting",method="post",action="/addlisting")
    input#inputUserName(type="text", placeholder="Designer", name="designer")
    input#inputUserEmail(type="text", placeholder="Title", name="title")
    button#btnSubmit(type="submit") Submit
