extends layout

block content
  form(name="create", method="post", action="/create")
    input(placeholder="Designer", name="designer")
    br
    input(placeholder="Title", name="title")
    br
    select(name="category", id="category")
      option(selected disabled) Category
      option(value="outerwear") Outerwear
      option(value="tops") Tops
      option(value="bottoms") Bottoms
      option(value="footwear") Footwear
      option(value="accessories") Accessories
    br
    select(name="size", id="size" onchange="document.getElementById('conversion').value=this.options[this.selectedIndex].text")
      option(selected disabled) Size
    input(type="hidden", name="conversion", id="conversion", value="")
    br
    input(placeholder="Price", name="price")
    br
    textarea(placeholder="Description", name="description")
    br
    button#btnSubmit(type="submit") Submit

  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  script(src="/javascript/sizes.js")
    