//- Talk to me before rewriting this page, there's some hacky shit going on

extends layout

block content
  form(name="create", method="post", action="/listings/create" enctype="multipart/form-data")
    input(placeholder="Designer", name="designer")
    br
    input(placeholder="Title", name="title")
    br
    select(name="category", id="category")
      option(selected disabled) Category
      option(value="outerwear") Outerwear
      option(value="tops") Tops
      option(value="bottoms") Bottoms
      option(value="footwear") Footwear
      option(value="accessories") Accessories
    br
    //- Talk to me about this before remaking this page (really hacky solution)
    select(name="size", id="size")
      option(selected disabled) Size
    input(name="conversion", id="conversion", type="hidden")
    br
    input(placeholder="Price", name="price")
    br
    textarea(placeholder="Description", name="description")
    br
    input(type="file", name="photos" multiple)
    br
    button#btnSubmit(type="submit") Submit

  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  script(src="/javascript/sizes.js")
