extends layout

block content
  if (!user)
    a(href="/login") Login
    br
    a(href="/register") Register
  if (user)
    p You are currently logged in as #{user.username}
    a(href="/create") Create listing
    br
    a(href="/logout") Logout
  ul
    each listing, i in listings
      li
        a(href="/listings/#{listing._id}") #{listing.designer} #{listing.title}