extends layout

block content
  if(error)
    p #{error}
  br
  form(name="login",method="post",action="/login")
    input(required, type="hidden", name="_csrf", value=csrfToken)
    if(username)
      input(required, type="text", placeholder="Username", name="username", value="#{username}")      
    else
      input(required, type="text", placeholder="Username", name="username")
    br
    input(required, type="text", placeholder="Password", name="password")
    br
    button(type="submit") Submit
