extends layout

block content
  if(error)
    p #{error}
  br
  form(name="login",method="post",action="/login")
    input(type="text", placeholder="Username", name="username")
    br
    input(type="text", placeholder="Password", name="password")
    br
    button(type="submit") Submit
